@model App.Web.ViewModels.Company.CompanyAddOrEditVM

@{
	ViewData["Title"] = $"Sửa thông tin công ty [{Model.Name}]";
}

<form asp-action="Edit">
	<div class="row">
		<div class="col-md-12">
			<h5 class="my-3">Thông tin công ty</h5>
			<div class="small mb-2">
				Cập nhật lần cuối lúc @Model?.UpdatedDate.ToDMYHM()
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="Id" type="hidden" />
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<label asp-for="Name" class="control-label">Tên công ty</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 my-3">
			<h5>Thông tin phòng ban</h5>
		</div>
		<div class="col-12 js-department">
			<div class="row js-department-row js-department-edit d-none">
			</div>
			@foreach (var d in Model.Departments)
			{
				<div class="row js-department-row js-department-edit">
					<div class="col-8 my-2 js-department-col form-group">
						<label class="control-label required">Tên phòng ban</label>
						<input class="form-control js-department-input" maxlength="150" value="@d.Name" />
					</div>
					<div class="col-4 my-2 form-group d-flex align-items-end">
						<button type="button" class="btn btn-success js-department-add"><i class="fa fa-plus-circle"></i></button>
						<div class="form-group mt-2 mb-0 ml-2">
							<label class="d-block font-weight-normal">
								<input class="js-department-id" type="hidden" value="@d.Id" />
								<input class="js-department-hidden" type="checkbox" checked="@d.IsHidden" />
								Ẩn phòng ban này
							</label>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="row mt-2">
		<div class="col">
			<div class="form-group">
				<button type="button" id="js-btn-save-edit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
				<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
				<button type="button" class="btn btn-success js-department-edit-button"><i class="fa fa-plus-circle"></i> Thêm phòng ban</button>
			</div>
		</div>
	</div>
</form>

<script type="text/html" id="department-tmpl">
	<div class="row js-department-row js-department-edit">
		<div class="col-8 my-2 js-department-col form-group">
			<label class="control-label">Tên phòng ban</label>
			<input class="form-control js-department-input" maxlength="150" />
		</div>
		<div class="col-4 my-2 form-group">
			<label class="d-block">&nbsp;</label>
			<button type="button" class="btn btn-success js-department-add"><i class="fa fa-plus-circle"></i></button>
			<button type="button" class="btn btn-outline-secondary js-department-del"><i class="fa fa-minus"></i></button>
		</div>
	</div>
</script>

<partial name="_BackToList" />

@section scripts {
	<script src="~/js/company/create-edit-company.js" asp-append-version="true"></script>
}